<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Payment</h3>
      <form id="pay" action="/payment/payment" method="post">
        <div class="form-group">
          <label for="cardnum">Card Number</label>
          <input type="text" class="form-control" name="cardnum" value="{{cardnum}}">
        </div>
        <div class="form-group">
          <label for="expiredate">Expiration Date</label>
          <input type="text" class="form-control" name="expiredate" value="{{expiredate}}">
        </div>
        <div class="form-group">
          <label for="securitycode">Security Code</label>
          <input type="text" class="form-control" name="securitydate" value="{{securitydate}}">
        </div>
        <div class="form-group">
          <label for="address">Phone Number</label>
          <input type="text" class="form-control" name="phonenum" value="{{phonenum}}">
        </div>
        <div class="form-group">
          <label for="Name">Price: $12.00</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>