<form method="post" action="recipes/searchRecipes">

<h1>Recipes</h1>

<div class="container-fluid text-center">
    <div class="column">
        <div class="col-md-4 col-sm-12">
                <div class="card" style="width:400px">
                        <div class="card-body">
                            <img class="card-img-top" src="images/recipe1.jpg" alt="Recipe image">
                          <h4 class="card-title">Butter Chicken</h4>
                          <p class="card-text">Learn how to make Butter Chicken</p>
                        </div>
</div>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="column">
        <div class="col-md-4 col-sm-12">
                <div class="card" style="width:400px">
                        <div class="card-body">
                            <img class="card-img-top" src="images/recipe2.jpg" alt="Recipe image">
                          <h4 class="card-title">Chocolate Cake</h4>
                          <p class="card-text">Learn how to make Chocolate Cake</p>
                        </div>
</div>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 col-sm-12">
                <div class="card" style="width:400px">
                        <div class="card-body">
                            <img class="card-img-top" src="images/recipe3.jpg" alt="Recipe image">
                          <h4 class="card-title">Spaghetti Bolognese</h4>
                          <p class="card-text">Learn how to make Spaghetti Bolognese</p>
                        </div>
</div>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 col-sm-12">
                <div class="card" style="width:400px">
                        <div class="card-body">
                            <img class="card-img-top" src="images/recipe5.jpg" alt="Recipe image">
                          <h4 class="card-title">Vegetarian Lasagna</h4>
                          <p class="card-text">Learn how to make Vegetarian Lasagna</p>
                        </div>
</div>
        </div>
    </div>
</div>

</form>