{{# each recipes}}
<div class="row">
   {{# each this}}
            <div class = "col-sm-6 col-md-3  border thumbnail-columns" >
      <div class = "thumbnail">
         <img src = "{{this.image}}" alt = "Generic placeholder" class="img-responsive">
      </div>
      
      <div class = "caption">
         <h3 class="title">{{this.recipe_Name}}</h3>
         <p class="description">{{this.item}}</p>
         
         <div class="clearfix">
           <div class="price pull-left">${{this.instructions}}</div>
            
        </div>
            
            
           
      </div>
   </div>

   {{/each}}
</div>
{{/each}}
