<form method="post" action="recipes/recipeslist">

{{#each arrObj}}
    <div class="row">
            <div class = "col-sm-6 col-md-3  border thumbnail-columns" >
      <div class = "thumbnail">
                <div class="card-body">
                <img class="card-img-top" src="{{image}}" alt="Recipe image">
                <h4 class="card-title">{{recipe_Name}}</h4>
                <p class="card-text">{{description}}</p>
                <a href = "recipes/{{recipe_Tag}}" class = "btn btn-success pull-right " role = "button">
                    View Recipe
                </a>
                </div>
    </div>
        </div>
    </div>
{{/each}}
</form>